.chart-wrapper {
  max-width: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.custom-checkbox input[type='checkbox'] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.checkbox-text {
  font-size: 18px;
  color: #333;
}

.curve-equation {
  font-weight: 600;
  font-family: 'Besley', serif;
  color: #333;
}

.variable {
  font-style: italic;
}

.chart-container {
  height: 450px;
  width: 100%;
}

.recharts-cartesian-axis-label {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  fill: #333;
}

.recharts-legend-item {
  font-size: 16px;
  color: #333;
}

.recharts-default-tooltip {
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recharts-legend-item-text {
  vertical-align: middle;
  color: #333;
}

.custom-tooltip {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
}
