.end-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 20px 0 20px 0;
  width: 81%;
  background-color: transparent;
  z-index: 10;
  box-sizing: border-box;
  overflow-y: auto;
}

.end-screen-header {
  height: 154px;
  padding: 0 36px 0 36px;
}